*{
	box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Verdana", sans-serif;
  border: 5px solid #003399;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  height: 100%;
  min-width: 600px;
  position: relative;
}

/*Headers***********************************************************/

h1 {
	text-align:center;
	color:#000000;
	background-color: rgba(225,225,225,0.75);
	/*left: 0;
	right: 0;
	margin-left: auto;*/
	margin-left: 10px;
	width: 400px;
	margin-bottom: 20px;
	position: absolute;
	top: 130px;
	/*z-index: 10;*/
}

h2 {
	color:#000000;
	margin:10px 20px 10px 5%;
}

h3 {
	text-size: 1.5rem;
	text-decoration:underline
}

h4 {
	text-size: 1.25em;
}

/*Paragraphs********************************************************/

p.caption {
  text-align:center;
  font-size: 75%;
}

p.pub {
	padding-left: 1em;
	margin-left: 1em;
	text-indent: -2em;
}	

/*a*/

a {
  color:#000000;
  background-color:transparent;
  text-decoration:underline;
}

a:hover {
  color:#003399;
  background-color:transparent;
  text-decoration:none;
  font-weight:none;
}

a.langlink {
	border: 2px solid #003399;
	border-radius: 10px;
	color: #ffffff;
	background-color: #003399;
	padding: 5px;
	margin: 5px;
	float: right;
	text-decoration: none;
}

a.langlink:hover {
	background-color: #99ccff;
	color: #000000;
}

/*Divs*/

/*.top {
	position: relative;
	display: inline-block;
}*/

.banner {
	position: relative;
	float: left;
	height: 200px;
	margin-right: 20px;
}

.banner img {
	height: 200px;
	z-index: -1;
}

.main {
	position: relative;
	max-width: 920px;
	margin: 0 auto;
}

div.entry {
  background-color:#99ccff; /*Original: #eac7ea*/
  padding:10px 20px;
  margin:20px 50px;
  border-color:#003399;
  border-width:5px;
  border-style:solid;
  border-radius:10px;
  overflow:auto;
}

div.quote {
	text-align: center;
	max-width: 600px;
	margin: 20px auto;
}

div.funlink {
	display: inline-block;
}

div.funlink p {
	/*float: right;*/
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
}

/*div.funlink a {
	border: 3px solid #003399;
	border-radius: 25px;
	color: #4D004D;
	background-color: transparent;
	width: 200px;
	padding: 10px;
	margin: 5px 20px 5px 0px;
	float: left;
	text-align: center;
	text-decoration: none;
	overflow: auto;
}*/

a.fun {
	border: 3px solid #003399;
	border-radius: 25px;
	color: #4D004D;
	background-color: transparent;
	width: 200px;
	/*height: auto;*/
	padding: 10px;
	margin: 5px 20px 5px 0px;
	float: left;
	text-align: center;
	text-decoration: none;
	overflow: auto;
}

/*div.funlink a:hover {
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}*/

a:hover.fun {
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}

/*IDs*/

#page {
	margin: 0 auto;
}

#contact {
	/*margin: 10px 20px;*/
	width: 300px;
	position: relative;
	margin: auto 0;
}

#contact ul {
	list-style-type:none;
	/*margin: 0 auto;*/
}

#contact li {
	display: block;
}

#intro{
	color: #000000;
	text-align: center;
	padding-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	position: relative;
}

#top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 950px;
	/*height: 220px;*/
	margin: 10px auto;
	position: relative;
}

#top-line p {
	float: right;
	margin-right: 5%;
	position: absolute;
}

#cv {
	max-width: 700px;
	margin: 20px auto;
	font-size: 90%;
}

#cv ul {
	margin-top:0px;
}

/*Classes*/

#posts {
  margin-right:20%;
}

table {
	width: 100%;
}

td {
	padding: 0;
}

ul#menu {
  padding: 0;
  text-align:center;
  clear: left;
  /*display:flex;*/
  /*position: relative;*/  
}
ul#menu li {
    display: inline-block;
}
ul#menu li a {
    background-color: #003399;
    color: #ffffff;
    padding: 10px 20px;
	margin-top:5px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
	display:block;
}
ul#menu li a:hover {
    background-color: #ffffff;
	color: #003399; /*original: #4D004D*/
    font-weight: normal;
}

dl {
	margin-left: 5%;
}

dt {
	text-decoration: underline;
	line-height: 2em;
	font-weight:bold;
}

dd {
	font-weight: bold;
	margin-left: 0px;
}

footer {
  background-color:#003399; /*old: #990099*/
  color:white;
  text-align:center;
  padding:5px;
  clear:right;
}